.bg-sidebar {
    background: #01313F;
    border-radius: 16px;
    height: 100vh;
}

.prenavigation {
    border: 2px solid #5051F9;
    height: 45px;
    width: 45px;
    background: rgba(80, 81, 249, 0.25);
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.line-height {
    line-height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.insidepre{
    height:20px;
    width:20px;
    background:white;
    border-radius: 6px;
}