<div class="bg-sidebar" id = "sidebar">
    <ul class="list-unstyled justify-content-center align-center px-4 py-5">
        <!-- <li class="py-3 hover d-flex">
            <div class="prenavigation mr-3 d-flex justify-content-center">
                <div class="insidepre">
                    
                </div>
            </div>
            <a class="text-white line-height">Analytics</a>
        </li> -->
        <!-- <li class="py-3 hover d-flex">
            <div class="prenavigation mr-3 d-flex justify-content-center">
                <div class="insidepre">
                    
                </div>
            </div>
            <a class="text-white line-height" (click)="goto('qrforms')">QR Forms</a>
        </li> -->
        <li class="py-3 hover d-flex">
            <div class="prenavigation mr-3 d-flex justify-content-center">
                <div class="insidepre">
                    
                </div>
            </div>
            <a class="text-white line-height" (click)="goto('')">Registrations</a>
        </li>

        <li class="py-3 hover d-flex">
            <div class="prenavigation mr-3 d-flex justify-content-center">
                <div class="insidepre">
                    
                </div>
            </div>
            <a class="text-white line-height" (click)="goto('qrcodes')">QR Codes</a>
        </li>
    </ul>
</div>